/* 1)Basic styles*/

/* 1.1)fonts */

@font-face {
    font-weight: normal;
    font-family: 'Open Sans';
    src: url(./assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: bold;
    font-family: 'Open Sans';
    src: url(./assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: Neucha;
    src: url(./assets/fonts/Neucha/Neucha-Regular.ttf);
}

body {
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
}

.neucha {
    font-family: Neucha, cursive;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* 1.2) colors */

/* 1.2.1) font-colors */
.primary {
    color: #fe8a02;
}

.white {
    color: #ffffff;
}

/* 1.2.2) background-colors */

.light-background {
    background-color: #f5f4f0;
}

.primary-background {
    background-color: #fe8a02;
}

.primary-dark-background {
    background-color: #42413c;
}

/* 1.3) headings */

h1 {
    line-height: 1.2em;
    font-size: 72px;
}

h2 {
    line-height: 1.2em;
    font-size: 60px;
}

h3 {
    line-height: 1.2em;
    font-size: 34px;
}

/* 1.4) sections */

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 100px auto;

    max-width: 1110px;
}

/* 2) Common styles */

.doubled-text {
    display: flex;
    flex-flow: row nowrap;
}

.text-box {
    width: 540px;
}

.headANDimg {
    position: relative;

    display: flex;
}

.ta-center {
    text-align: center;
}

/* 3) Header styles */

/* 3.1) container */

header {
    display: flex;
    flex-flow: column wrap;
}

.background-img::before {
    display: block;
    width: 1140px;
    height: 795px;

    position: absolute;

    content: "";
    background-image: url("./assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 6%;
}

/* 3.2) headAndimg */

.headANDimg-header {
    width: 800px;
}

.cogn-header {
    display: inline-block;
    width: 376px;
}

img[alt="main logo"] {
    position: absolute;
    top: -13px;
    left: 275px;
    z-index: 0;
}

/* 3.3) text */

.doubled-text-header {
    margin-top: 14%;
}

.text-box-header {
    margin: 15px;
}

.inline-block-margin-top {
    display: inline-block;
    margin-top: 15px;
}

/* 3.4) button */

.more-details {
    position: relative;
    left: 50%;

    margin: 24px 12px;
    padding: 0;
    border: none;

    width: 149px;
    height: 48px;

    font-weight: bold;
    font-size: 16px;

    cursor: pointer;
}

.more-details:hover {
    background-color: #ea7600;
}

/* 4) Video section */

.video-section {
    position: relative;
}

.video-section>h1 {
    margin: 100px 0 0 0;
}

.video-section>p {
    margin: 30px auto;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.rectangle37 {
    position: absolute;
    left: -100px;
    bottom: -10px;
    z-index: -1;

    display: block;
    width: 1110px;
    height: 100px;

    background-color: #42413c;
}